@import "tailwindcss";

.language-changer {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  z-index: 10;
}

.language-changer__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.language-changer__dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.language-changer__dropdown-item:hover {
  background-color: #f5f5f5;
}

.language-changer__dropdown-item, .language-changer__current {
  cursor: pointer;
}

.flagIcon {
  width: 24px;
  height: 16px;
}
